[submodule "fei"]
	path = fei
	url = https://github.com/jonathansamblu/fei.git
[submodule "poema"]
	path = poema
	url = https://github.com/jonathansamblu/poema.git
[submodule "proyecto"]
	path = proyecto
	url = https://github.com/jonathansamblu/proyecto.git
